<form [formGroup]="connexionForm" class="register-form">
  <div class="form-group">
    <label>Email</label>
    <!-- <label>Nom d'utilisateur</label> -->
    <input type="text" class="form-control" placeholder="" formControlName="login">
    <small class="form-text text-muted"></small>
  </div> <!-- form-group end.// -->
  <div class="form-group">
    <label>Mot de passe</label>
    <input class="form-control" type="password" formControlName="password">
  </div> <!-- form-group end.// -->
  
  <button class="btn btn-base-color btn-block btn-round" (click)="login()" >Login</button>
</form>
