<div class="section section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto mb-4 text-center">
        <h2 class="title">Contactez-nous</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="card card-contact card-raised">
          <div class="card-header header-raised header-primary ">
            <div class="mb-4">
              <h3> Des questions, des suggestions </h3>
              <h6>Ecrivez nous maintenant!!</h6>
            </div>
            <nav class="navbar navbar-expand-lg bg-customize text-center">
              <div class="container">
                <a class="navbar-brand m-auto text-center" href="#">Contact</a>
              </div>
            </nav>
          </div>
          <form id="contact-form" method="post" role="form">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="info info-horizontal">
                    <div class="icon icon-info"><i aria-hidden="true" class="nc-icon nc-badge"></i></div>
                    <div class="description">
                      <h5 class="info-title">Give us a call</h5>
                      <p> Michael Jordan<br> +40 762 321 762<br> Mon - Fri, 8:00-22:00 </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info info-horizontal">
                    <div class="icon icon-danger"><i aria-hidden="true" class="nc-icon nc-pin-3"></i></div>
                    <div class="description">
                      <h5 class="info-title">Find us at the office</h5>
                      <p> Bld Mihail Kogalniceanu<br> 7652 Bucharest </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"><label class="control-label">Full
                      Name</label><input class="form-control" name="name" placeholder="Full name" type="text"></div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><label class="control-label">Email
                      address</label><input class="form-control" name="email" placeholder="Email" type="email"></div>
                </div>
              </div>
              <div class="form-group"><label class="control-label">Your
                  message</label><textarea class="form-control" id="message" name="message" placeholder="Message"
                  rows="6"></textarea></div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <div class="form-check"><label class="form-check-label"><input checked="" class="form-check-input"
                        type="checkbox" value=""> I'm not a robot ! <span class="form-check-sign"></span></label></div>
                </div>
                <div class="col-md-6"><button class="btn btn-customize pull-right" type="submit">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-center">
        <div style="width: 1000%;height:  400px;" ><iframe width="100%" height="400"
            src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=22&amp;iwloc=B&amp;output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
              href="https://www.maps.ie/coordinates.html">gps coordinates</a></iframe></div><br />
        <h3 class="title"><small>Find us on social networks</small></h3>
        <button class="btn btn-just-icon btn-twitter mr-1"><i class="fa fa-twitter"></i></button><button
          class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></button><button
          class="btn btn-just-icon btn-google mr-1"><i class="fa fa-google"></i></button><button
          class="btn btn-just-icon btn-dribbble mr-1"><i class="fa fa-dribbble"></i></button><button
          class="btn btn-just-icon btn-instagram mr-1"><i class="fa fa-instagram"></i></button><button
          class="btn btn-just-icon btn-youtube"><i class="fa fa-youtube"></i></button>
      </div>
    </div>

  </div>
</div>