<footer class="footer bg-dark">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6 m-auto ">
                <div class="card card-raised card-form-horizontal no-transition mt-4">
                    <div class="card-body">
                        <form action="" method="">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Rejoignez notre newsletter" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-customize btn-block" type="button"><i
                                            class="nc-icon nc-send"></i> &nbsp; Joindre
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container ">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#pk">Accueil</a>
                    </li>
                    <li>
                        <a href="#pk">Produit</a>
                    </li>
                    <li>
                        <a href="#pk">Coiffure Afro</a>
                    </li>
                    <li>
                        <a href="#pk">Astuce</a>
                    </li>
                    <li>
                        <a href="#pk">Blog</a>
                    </li>
                    <li>
                        <a href="#pk">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Youdjio <i class="fa fa-envelope heart"></i>
                </span>
            </div>
        </div>
    </div>
</footer>