<nav class="navbar navbar-expand-md navbar-default">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand">
                <img src="../../../../assets/img/youdjio_logo.png" height="50" alt=""></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">

            <ul *ngIf="loggedIn()" class="navbar-nav ml-auto">
                <li ngbDropdown class="nav-item d-inline-block dropdown">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active" id="dropdownBasic1" ngbDropdownToggle>
                        <div class="user-photo"> <img class="photo"
                                src="https://s3.amazonaws.com/creativetim_bucket/anonymous_thumb.png"> </div>
                        eroamba
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                        <a class="dropdown-item">Mon profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Modifier mot de passe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">Se déconnecter</a>
                    </div>
                </li>

            </ul>
            <ul *ngIf="!loggedIn()" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-quaternary">
                        Se connecter
                    </a>
                </li>
                <li class="">
                    <a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="btn btn-customize">
                        S'inscrire
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<nav class="nav-scroller bg-dark  p-2">
    <div class="container">
        <div class="nav-container  m-auto">
            <div class="nav d-flex justify-content-between">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="p-2">ACCUEIL</a>
                <a [routerLink]="['/product']" routerLinkActive="router-link-active" class="p-2">PRODUIT</a>
                <a [routerLink]="['/hair']" routerLinkActive="router-link-active" class="p-2">COIFFURE AFRO</a>
                <a [routerLink]="['/tip']" routerLinkActive="router-link-active" class="p-2">ASTUCE</a>
                <a [routerLink]="['/blog']" routerLinkActive="router-link-active" class="p-2">BLOG</a>
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="p-2">CONTACT</a>
            </div>
        </div>
    </div>
</nav>