<div class="main">
  <div class="section mt-4">
    <div class="container">
      <div class="row ">

        <div  class="col-md-8 blog-main">
          <h2  class="title">Blog</h2><br >


          <div  class="card card-plain card-blog">
            <div  class="row">
              <div  class="col-md-5">
                <div  class="card-image"><img  class="img blog-img"
                    src="./assets/img/sections/stephanie-krist.jpg"></div>
              </div>
              <div  class="col-md-7">
                <div  class="card-body">
                  <h6  class="card-category text-info">Enterprise</h6>
                  <h3  class="card-title"><a  href="javascript:void(0)">The four
                      waves </a></h3>
                  <p  class="card-description"> 
                    smartphones and tethered smartglasses gives you two batteries, each powering fewer individual
                    systems. If they’re connected by a cable, this could give a healthy bump to battery life — and… <a
                       href="javascript:void(0)"> Read More </a></p>
                  <p  class="author"> by <a  href="javascript:void(0)"><b
                        >Tim Merel</b></a>, 11 hours ago </p>
                </div>
              </div>
            </div>
          </div>
          <div  class="card card-plain card-blog">
            <div  class="row">
              <div  class="col-md-7">
                <div  class="card-body">
                  <h6  class="card-category text-danger"><i  aria-hidden="true"
                      class="fa fa-free-code-camp"></i> Trending </h6>
                  <h3  class="card-title"><a  href="javascript:void(0)">Okoli
                      connects you with </a></h3>
                  <p  class="card-description"> 
                    aims to replace those ugly little cards you find in tourist hotels. The web app, which currently
                    works in Prague, Budapest, Berlin and Paris, lets you reserve a nearly private tour with a
                    professional guid — and… <a  href="javascript:void(0)"> Read More </a></p>
                  <p  class="author"> by <a  href="javascript:void(0)"><b
                        >John Biggs</b></a>, 3 seconds ago </p>
                </div>
              </div>
              <div  class="col-md-5">
                <div  class="card-image "><img  class="blog-img"
                    src="./assets/img/sections/federico-beccari.jpg"></div>
              </div>
            </div>
          </div>


          <div  class="card card-plain card-blog">
            <div  class="row">
              <div  class="col-md-5">
                <div  class="card-image"><img  class="img blog-img"
                    src="./assets/img/sections/stephanie-krist.jpg"></div>
              </div>
              <div  class="col-md-7">
                <div  class="card-body">
                  <h6  class="card-category text-info">Enterprise</h6>
                  <h3  class="card-title"><a  href="javascript:void(0)">The four
                      waves </a></h3>
                  <p  class="card-description"> 
                    smartphones and tethered smartglasses gives you two batteries, each powering fewer individual
                    systems. If they’re connected by a cable, this could give a healthy bump to battery life — and… <a
                       href="javascript:void(0)"> Read More </a></p>
                  <p  class="author"> by <a  href="javascript:void(0)"><b
                        >Tim Merel</b></a>, 11 hours ago </p>
                </div>
              </div>
            </div>
          </div>
          <div  class="card card-plain card-blog">
            <div  class="row">
              <div  class="col-md-7">
                <div  class="card-body">
                  <h6  class="card-category text-danger"><i  aria-hidden="true"
                      class="fa fa-free-code-camp"></i> Trending </h6>
                  <h3  class="card-title"><a  href="javascript:void(0)">Okoli
                      connects you with </a></h3>
                  <p  class="card-description"> 
                    aims to replace those ugly little cards you find in tourist hotels. The web app, which currently
                    works in Prague, Budapest, Berlin and Paris, lets you reserve a nearly private tour with a
                    professional guid — and… <a  href="javascript:void(0)"> Read More </a></p>
                  <p  class="author"> by <a  href="javascript:void(0)"><b
                        >John Biggs</b></a>, 3 seconds ago </p>
                </div>
              </div>
              <div  class="col-md-5">
                <div  class="card-image "><img  class="blog-img"
                    src="./assets/img/sections/federico-beccari.jpg"></div>
              </div>
            </div>
          </div>


        </div>
        
        <aside class="col-md-4 blog-sidebar">


          <div class="card card-raised card-form-horizontal no-transition ">
            <div class="card-body">
              <form action="" method="">
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group">
                      <input class="form-control" placeholder="Rejoignez notre newsletter" type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-customize btn-block" type="button"><i class="nc-icon nc-zoom-split"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="p-4">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>

          <div class="p-4">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div> 
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div>

  </div>

</div>