<div class="wrapper">

    <div class="section mt-3" id="carousel">
        <div class="container">

            <div class="card page-carousel">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <img src="./assets/img/slide1.jpg" alt="Random first slide">
                        <div class="custom-carousel-caption">
                            <div class="col-md-8">
                                <h1 class="display-4 ">BIENVENUE SUR YOUDJIO</h1>
                                <p class="lead my-3">There's no doubt that Tesla is delighted with the interest,
                                    but the data also raises a few questions</p>
                                <p class="lead mb-0">
                                    <a [routerLink]="['/signup']" routerLinkActive="router-link-active"
                                        class="btn btn-customize">
                                        Order Now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="./assets/img/login-image.jpg" alt="Random second slide">
                        <div class="custom-carousel-caption">
                            <div class="col-md-8">
                                <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers
                                    quickly and efficiently about what's most interesting in this post's contents.</p>
                                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue
                                        reading...</a></p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="./assets/img/MOOC_management-responsable_2301x875.jpg" alt="Random third slide">
                        <div class="custom-carousel-caption">
                            <div class="col-md-8">
                                <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers
                                    quickly and efficiently about what's most interesting in this post's contents.</p>
                                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue
                                        reading...</a></p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

        </div>

    </div>

    <div class="container custom-line-color">
    </div>

    <div class="section" id="">
        <div class="container">
            <div class="tim-title">
                <h3>Top Produits</h3>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22245%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fb6403515%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fb6403515%22%3E%3Crect%20width%3D%22245%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2291.75%22%20y%3D%2285.1%22%3E245x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22245%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fb6403515%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fb6403515%22%3E%3Crect%20width%3D%22245%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2291.75%22%20y%3D%2285.1%22%3E245x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22245%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fb6403515%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fb6403515%22%3E%3Crect%20width%3D%22245%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2291.75%22%20y%3D%2285.1%22%3E245x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22245%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fb6403515%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fb6403515%22%3E%3Crect%20width%3D%22245%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2291.75%22%20y%3D%2285.1%22%3E245x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22245%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fb6403515%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fb6403515%22%3E%3Crect%20width%3D%22245%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2291.75%22%20y%3D%2285.1%22%3E245x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" data-src="holder.js/100px160/" alt="100%x160"
                            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22245%22%20height%3D%22160%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245%20160%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fb6403515%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fb6403515%22%3E%3Crect%20width%3D%22245%22%20height%3D%22160%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2291.75%22%20y%3D%2285.1%22%3E245x160%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            data-holder-rendered="true" style="height: 160px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container custom-line-color">
    </div>

    <div class="section" id="">
        <div class="container">
            <div class="tim-title">
                <h3>Astuce & Conseils</h3>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card" data-background="image"
                        style="background-image:linear-gradient(
                            rgba(31, 12, 12, 0.45), 
                            rgba(26, 15, 15, 0.45)
                          ),  url('./assets/img/sections/federico-beccari.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Materials</h6>
                            <h3 class="card-title">US venture investment ticks up</h3>
                            <p class="card-description"> Venture investment in U.S. startups rose
                                sequentially in the second quarter of 2017, boosted by large, late-stage financings and
                                a few outsized early-stage rounds.... </p><br><a class="btn btn-primary btn-round"
                                href="javascript:void(0)"><i aria-hidden="true" class="fa fa-book"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div  class="card" data-background="image"
                        style="background-image: url('./assets/img/sections/federico-beccari.jpg')">
                        <div  class="card-body">
                            <h6  class="card-category">Materials</h6>
                            <h3  class="card-title">US venture investment ticks up</h3>
                            <p  class="card-description"> Venture investment in U.S. startups rose
                                sequentially in the second quarter of 2017, boosted by large, late-stage financings and
                                a few outsized early-stage rounds.... </p><br ><a
                                 class="btn btn-primary btn-round" href="javascript:void(0)"><i
                                     aria-hidden="true" class="fa fa-book"></i> Read Article </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container custom-line-color">
    </div>

    <div class="section" id="">
        <div class="container">
            <div class="tim-title">
                <h3>Ma Coiffure Afro</h3>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card flex-md-row justify-content-between  mb-4 box-shadow h-md-250 card-bg-hair p-4">
                        <div class="col-md-10">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#">Featured post</a>
                                </h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                                    lead-in to additional content is a wider card with supporting text below as a natural
                                    lead-in to additional content is a wider card with supporting text below as a natural
                                    lead-in to additional content.</p>
                                <a href="#">Continue reading</a>
                            </div>

                        </div>
                        <div class="col-md-2 d-flex align-items-end">
                            <button [routerLink]="['/signup']" 
                               routerLinkActive="router-link-active"
                               class="btn btn-outline-warning">
                                        Order Now
                            </button>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger"><i class="nc-icon nc-bulb-63"></i></div>
                        <div class="description">
                            <h4 class="info-title">New Ideas</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p><a
                                class="btn btn-link btn-danger" href="#pkp">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger"><i class="nc-icon nc-chart-bar-32"></i></div>
                        <div class="description">
                            <h4 class="info-title">Statistics</h4>
                            <p>Choose from a veriety of many colors resembling sugar paper pastels.</p><a
                                class="btn btn-link btn-danger" href="#pkp">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger"><i class="nc-icon nc-sun-fog-29"></i></div>
                        <div class="description">
                            <h4 class="info-title">Delightful design</h4>
                            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                            <a class="btn btn-link btn-danger" href="#pkp">See more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container custom-line-color">
    </div>

    <div class="section" id="">
        <div class="container">
            <div class="tim-title">
                <h3>Blog</h3>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card flex-md-row p-4 mb-4 box-shadow h-md-250 card-bg-blog">
                        <div class="col-md-10">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#">Featured post</a>
                                </h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                                    lead-in to additional content is a wider card with supporting text below as a natural
                                    lead-in to additional content is a wider card with supporting text below as a natural
                                    lead-in to additional content.</p>
                                <a href="#">Continue reading</a>
                            </div>

                        </div>
                        <div class="col-md-2 d-flex align-items-end">
                            <button [routerLink]="['/signup']" 
                               routerLinkActive="router-link-active"
                               class="btn btn-outline-warning">
                                        Order Now
                            </button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





</div>