<form [formGroup]="registerForm" class="register-form">

  <div class="form-row">

    <div class="col form-group">
      <label>Nom</label>
      <input type="text" 
             class="form-control" 
             placeholder="" 
             formControlName="firstName" 
             [ngClass]="{'is-invalid': firstNameFormControl.errors && firstNameFormControl.touched }">
             <small class="invalid-feedback" 
                    *ngIf="firstNameFormControl.hasError('required') && firstNameFormControl.touched">
                    Nom obligatoire!
              </small>
    </div> <!-- form-group end.// -->
    
    <div class="col form-group">
      <label>Prénoms</label>
      <input type="text" 
             class="form-control" 
             placeholder=" " 
             formControlName="lastName"
             [ngClass]="{'is-invalid': lastNameFormControl.errors && lastNameFormControl.touched }">
             <small class="invalid-feedback" 
                    *ngIf="lastNameFormControl.hasError('required') && lastNameFormControl.touched">
                    Prénoms obligatoire!
              </small>
    </div> <!-- form-group end.// -->

  </div> <!-- form-row end.// -->

  <div class="form-group">
    <label>Email</label>
    <input type="email" 
           class="form-control" 
           placeholder="" 
           formControlName="email" 
           [ngClass]="{'is-invalid': emailFormControl.errors && emailFormControl.touched }">
           <small class="invalid-feedback form-text" 
                  *ngIf="emailFormControl.hasError('required') && emailFormControl.touched">
                  Email obligatoire!
            </small>
            <small class="invalid-feedback form-text" 
                  *ngIf="emailFormControl.hasError('email') && emailFormControl.touched">
                  Email invalid!
            </small>
  </div> <!-- form-group end.// -->

  <div class="form-group">
    <label>Contact</label>
    <input class="form-control" 
           type="text" 
           formControlName="phoneNumber"
           [ngClass]="{'is-invalid': phoneNumberFormControl.errors && phoneNumberFormControl.touched }">
           <small class="invalid-feedback form-text" 
                  *ngIf="phoneNumberFormControl.hasError('required') && phoneNumberFormControl.touched">
                  Contact obligatoire!
            </small>
            <small class="invalid-feedback form-text" 
                  *ngIf="(phoneNumberFormControl.hasError('minlength') && phoneNumberFormControl.touched) || 
                         (phoneNumberFormControl.hasError('maxlength') && phoneNumberFormControl.touched)">
                  Le contact doit contenir 8 caractère!
            </small>
  </div> <!-- form-group end.// -->

  <div class="form-group">
    <label>Mot de passe</label>
    <input class="form-control" 
           type="password" 
           formControlName="password" 
           [ngClass]="{'is-invalid': passwordFormControl.errors && passwordFormControl.touched }">
           <small class="invalid-feedback form-text" 
                  *ngIf="passwordFormControl.hasError('required') && passwordFormControl.touched">
                  Mot de passe obligatoire!
            </small>
            <small class="invalid-feedback form-text" 
                  *ngIf="(passwordFormControl.hasError('minlength') && passwordFormControl.touched)">
                  Mot de passe doit contenir 8 caractère!
            </small>
  </div> <!-- form-group end.// -->
  
  <button class="btn btn-base-color btn-block btn-round " 
          (click)="register()" >
       Register
  </button>
</form>
