.form-group {
    margin-bottom: 0!important;
}
//coursera css
.form-control {
    width: 100%;
    height: 48px;
    padding: 0.75rem;
    border: 1px solid #CCD1D9!important;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
}

.form-control:hover {
   border-color: #2A73CC;
    outline: none;
}


input[type=email], input[type=password],  input[type=text] {
    height: 48px;
    border-radius: 0;
    padding: .75rem;
}
input[type=email]:focus,  input[type=password]:focus,  input[type=text]:focus {
    border-color: #2a73cc!important;
    color: #555!important;
    outline: 0;
    outline: 9 dotted;
    box-shadow: 0 0 0 transparent!important;
}
