/* You can add global styles to this file, and also import other style files */
$base-color: #FCDD44;
.btn-quaternary {
    border: 1px solid #686f7a!important;
    color: #686f7a;
    background-color: #fff;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 15px;
    padding: 11px 12px;

    line-height: 1.35135;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-quaternary:active:hover, .btn-quaternary.active:hover, .open>.dropdown-toggle.btn-quaternary:hover, .btn-quaternary:active:focus, .btn-quaternary.active:focus, .open>.dropdown-toggle.btn-quaternary:focus, .btn-quaternary:active.focus, .btn-quaternary.active.focus, .open>.dropdown-toggle.btn-quaternary.focus {
    color: #29303b;
    background-color: #f7f8fa;
    border-color: #29303b;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-quaternary:active, .btn-quaternary.active, .open>.dropdown-toggle.btn-quaternary {
    background-image: none;
}

.btn-quaternary:active, .btn-quaternary.active, .open>.dropdown-toggle.btn-quaternary {
    color: #29303b;
    background-color: #f7f8fa;
    border-color: #29303b;
}
.btn-quaternary:hover {
    color: #29303b;
    background-color: #fff;
    border-color: #29303b;
}
.btn:active, .btn.active, .open>.dropdown-toggle.btn {
    outline: 0!important;
    box-shadow: none;
}

.navbar .navbar-brand {
    margin: none!important; 
    padding: none!important; 
   
  }
  .btn-customize{
     background-color: $base-color;
  }
  .btn-customize{
    background-color: $base-color;
 }
 .btn-customize:active, .btn-customize.active, .open>.dropdown-toggle.btn-customize {
    color: #fff;
    background-color: #FCDD44;
    border-color: transparent;
}
.bg-customize{
    background-color: $base-color;
    color: #fff;
}
.btn-customize:hover {
    color: #fff;
    background-color: #FCDD44;
    border-color: transparent;
}
.text-customize-color{
    color: #FCDD44;
}
.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn), [class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) {
    color: black;
    border-color: #FFFFFF;
}

.navbar-brand {
    display: inline-block;
    /* padding-top: .3125rem; */
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar.navbar-transparent {
    padding-top: 0; 
}
.navbar-transparent {
    background: white!important;
    border-bottom: 1px solid transparent;
    box-shadow: none;
}
 .page-header {
   background:linear-gradient(to right bottom,rgba(rgba(39, 38, 38, 0.342) , 0.8),rgba(rgba(124, 105, 105, 0.342), 0.5)), url('assets/img/slide2.jpg'); 
    min-height: 85vh!important;
    background-size: cover;
    background-position: center center;
}
.page-sub-header {
    height: 15vh!important;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
} 

/*Register */
.card-register {
    background-color: white;
    border-radius: 8px;
    color: #373a3c;
    width: 450px !important;
    max-width: 550px!important;
    margin: 120px 0 70px;
    min-height: 450px;
    padding: 30px;
    z-index: 1;
}
.form-group {
    margin-bottom: 0!important;
}

.title {
     margin-top: 0!important; 
    margin-bottom: 0!important;
    min-height: 32px;
}

.page-header .card-register .title {
    margin-bottom: 0!important;
}
.btn-base-color{
    background-color: $base-color;
}

h1,h2,h3,h4,h5,h6{
    margin: 0 0 0 0 !important;
}
.description{
  color: white;
  align-items: center;
  justify-content: center;
}

.nav-container{
    width: 600px;
    color: white;
}
.nav a{
    color: white;
}
.custom-line-color{
    background-color: $base-color;
    height: 10px;
}

.carousel-inner .carousel-item img{
    border-radius: 0px!important;
}
.card-bg-hair{
    background:  linear-gradient(10deg,rgba(13, 0, 197, 0.911), rgba(65, 54, 216, 0.911));

}

.card-bg-blog{
    background:  linear-gradient(100deg,rgba(143, 232, 26, 0.822), rgba(27, 218, 225, 0.801)),url('./assets/img/card_blog.jpeg');
    background-repeat: no-repeat;
    background-position:  center;
}

.description p{
  color: black;
}

.section {
    padding: 0px 0; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.pagination > .page-item > .page-link, .pagination > .page-item > span, .pagination > .page-item:first-child > .page-link, .pagination > .page-item:first-child > span, .pagination > .page-item:last-child > .page-link, .pagination > .page-item:last-child > span {
    background-color: transparent;
    border: 2px solid #FCDD44;
    border-radius: 20px;
    color: #FCDD44;
    height: 36px;
    margin: 0 2px;
    min-width: 36px;
    font-weight: 600;
}

.blog-img{
    max-width: 100%;
    border-radius: 12px;

}